*{
    --color-main-blue: #636DCE;
    --color-main-black: #1E2228;
    --color-system-black: #1E222880;
    --color-system-gray: #DEE0E4;
    --color-main-white: #FFFFFF;
    --color-system-white: #FFFFFF80;
}