*{
  --padding-aside: calc(24px + (120 - 24) * ((100vw - 390px) / (1440 - 390)));
  @media (min-width: 1441px){
    --padding-aside: calc((100vw - 1440px + 240px) / 2);
  }
}
.layout{
  background-color: var(--color-main-white);
  display: flex;
  flex-direction: column;
  gap: 150px;
  .main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1440px;
    //margin: 0 auto;
  }
}
.logo{
  width: 124px;
  height: 51px;
  object-position: center;
  object-fit: contain;
}
.header{

  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 8px var(--padding-aside) 5px;

  display: flex;
  gap: 48px;
  align-items: center;
  transition: all 0.3s;
  background-color: var(--color-main-white);
  &::before{
    z-index: 1;
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url("/src/assets/wave_header.svg");
    background-repeat: repeat-x;
    background-size: 1440px auto;
    background-position: bottom;
  }

  .menu{
    display: flex;
    gap: 48px;
    align-items: center;

  }
  .menuToggle{
    display: none;
  }
  .menuButton{
    display: none;
  }
  .menu a{
    color: var(--color-main-black);

    text-decoration: none;
  }

  @media(max-width: 768px){
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    .mobile{
      box-sizing: border-box;
        width: 100%;
      display: flex;

      align-items: center;
        justify-content: space-between;
      flex-grow: 2;
      z-index: 2;
    }

    .menu{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transform: translate(0, -100%);
      transition: transform 0.3s;
    }
    .menuToggle:checked ~ .menu{
      z-index: 1;
      box-sizing: border-box;
      display: flex;
      visibility: visible;
      opacity: 1;
      flex-grow: 2;
      width: 100%;

      top: 100%;
      left: 0;
      padding: 15px var(--padding-aside) 32px;

      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 32px;

      background-color: var(--color-main-white);
      transform: translate(0, 0);
      &::before{
        content: '';
        position: absolute;
        bottom: -45px;
        left: 0;
        right: 0;
        width: 100%;
        height: 47px;
        background-image: url("/src/assets/wave_header.svg");
        background-repeat: repeat-x;
        background-size: 1440px auto;
        background-position: bottom;
      }
    }

    .menuButton {
      cursor: pointer;

        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: var(--color-main-white);
    }
    .menuButton span{
      flex-grow: 2;
      flex-shrink: 0;
      transition: all 0.3s;
        position: relative;
      width: 32px;
      height: 3px;
      background-color: var(--color-main-black);
    }
    .menuButton span:before, .menuButton span:after{
      content: '';
      position: absolute;
      width: 32px;
      height: 2.4px;
      background-color: var(--color-main-black);

    }
    .menuButton span:before{
      top: -10px;
    }
    .menuButton span:after{
      top: 10px;
    }

    .menuToggle:checked ~ .mobile .menuButton span{
      transform: rotate(90deg);
      background-color: transparent;
      transition: background-color 0s;
    }
    .menuToggle:checked ~ .mobile .menuButton span:before{
      top: 0;
      transform: rotate(45deg);
      height: 3px;

    }
    .menuToggle:checked ~ .mobile .menuButton span:after{
      top: 0;
      transform: rotate(-45deg);

    }

  }




}

.section{
  box-sizing: border-box;
  //min-height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 var(--padding-aside);
  @media (min-width: 1440px){
    padding: 0 120px;
  }
  @media (max-width: 768px){
    min-height: unset;

  }
  gap: 56px;

  h2{
    color: var(--color-main-blue);
    position: relative;
    width: max-content;
    margin-bottom: 28px;
    align-self: flex-start;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 14px;
      bottom: -20px;
      left: 0;
      background-image: url("/src/assets/wave_text.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: auto  14px;
    }
  }



}

.sectionMain{
  position: relative;
  margin-top: 100px;
  align-items: flex-start;
  height: calc(100vh - 85px);

  .whales{
    position: absolute;
    top: calc( -1 * clamp(300px, 35vw, 550px) / 2 + 50%);
    left: calc(100% + clamp(100px, 15vw, 200px));
    width: clamp(300px, 35vw, 550px);
    height: clamp(300px, 35vw, 550px);
    background-image: url("/src/assets/whales.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 24px;

    width: clamp(300px, 40vw, 590px);
  }
  .description{
    //text-align: center;
    color: var(--color-main-black);
  }


  .title{
    display: flex;
    flex-direction: column;

  }
  .title span{
    color: var(--color-main-black);
  }
  .title span:first-child{
    position: relative;
      color: var(--color-main-blue);
    width: max-content;
  }
  .title span:first-child::after{
    content: '';
    display: block;
    width: calc(clamp(300px, 40vw, 590px) - 100%);
    position: absolute;
    left: calc(100% + 7px);
    top: calc(50% - 8px);
    height: 18px;
    background-image: url("/src/assets/wave_text.svg");
    background-position: center;
    background-size: auto 18px;
    background-repeat: repeat-x;
  }
  .title span:first-child::before{
    content: '';
    display: block;
    width: 32px;
    position: absolute;
    left: calc(100% + (calc(clamp(300px, 40vw, 590px) - 100%) / 2) - 16px);
    top: 0;
    height: 32px;
    background-image: url("/src/assets/fish.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


  }

  .button{
    cursor: pointer;

    align-self: flex-start;
    background-color: var(--color-main-black);
    color: var(--color-main-white);
    padding: 15px 24px;
    border-radius: 8px;

  }

  @media (max-width: 768px){
    align-items: center;


    .whales{

      position: relative;
      order: 1;
      width: 100%;
      top: unset;
      left: unset;
    }
    .content{
        order: 0;
      width: unset;
      align-items: center;


    }
    .title span:first-child::before{
      top: -10px;
    }
    .button{
      cursor: pointer;

        align-self: center;
    }


  }

}

.sectionAbout{
  overflow: hidden;
  padding-bottom: 150px;
  .content{
    position: relative;
    width: 588px;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;

  }
  .turtle{
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .turtle1{
    width: clamp(200px, 30vw, 300px);
    height: clamp(200px, 30vh, 300px);
    right: calc(100% + clamp(20px, 3vw, 40px));
    bottom: 0;
    background-image: url("/src/assets/turtle2.svg");
  }
    .turtle2{
        width: clamp(200px, 25vw, 300px);
        height: clamp(160px, 20vh, 250px);
        top: calc(100% - clamp(20px, 5vh, 40px));
        right: calc((clamp(200px, 25vw, 300px) * -1));
        background-image: url("/src/assets/turtle1.svg");
    }
  .turtle3{
    height: clamp(160px, 20vh, 250px);
    width: clamp(160px, 20vh, 250px);
    top: calc(-1 * clamp(80px, 10vh, 125px));
    right: calc(-1 * clamp(160px, 20vh, 250px));
    background-image: url("/src/assets/turtle3.svg");
  }
  .text{
    text-align: center;
    color: var(--color-main-black);
  }
  .highlight, .meaning{
    color: var(--color-main-blue);

  }
  @media  (max-width: 768px){
    padding-bottom: 0;
    .turtle{
      display: none;
    }
    .content{
      width: unset;
    }
    .text{
        text-align: left;
    }
  }
}

.sectionProjects{
  gap: 40px;
  .gridBox{
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 8px;
    align-items: center;
    //justify-content: center;


    .project{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      //
    }
    .project.projectLast{
      flex-grow: 0;
      @media (max-width: 768px){
        flex-grow: 1;
        margin: 0 auto;
        max-width: 350px;
      }
    }




    .project img{

      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }


  }
  .button{
    background-color: var(--color-main-black);
    border: none;
    cursor: pointer;

    color: var(--color-main-white);
    padding: 15px 24px;
    border-radius: 8px;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    &::after{
      transition: all 0.3s;
      content: '';
      width: 16px;
      height: 16px;
      position: relative;


      background-image: url("/src/assets/arrows/arrow_short.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.hidden::after{
      transform: rotate(90deg);
    }
    &.show::after{
      transform: rotate(-90deg);
    }
  }

}
.sectionTeam{
  .sliderWrapper{
    @media (max-width: 768px){
      display: none;
      //display: flex;
      overflow-x: auto;
      gap: 24px;
      padding: 0 var(--padding-aside);

    }
    position: relative;
    width: 100%;
    overflow: hidden;
    .slider{
      display: flex;
      gap: 24px;
      transition: transform 0.5s;
    }
  }
}

.sectionContact{
  .content{
    display: flex;
    gap: 24px;
    align-items: stretch;

    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    @media (max-width: 768px){
      flex-direction: column;
    }

  }
  .description{
    display: flex;
    flex-direction: column;

    padding-bottom: 60px;
    @media (max-width: 768px){
        padding-bottom: 0;
    }
    justify-content: space-between;
    gap: 24px;

    flex-grow: 1;


    box-sizing: border-box;
    .text{
        //text-align: center;
        color: var(--color-main-black);
    }
    .social{
      display: flex;
      gap: 32px;

    }
    .addressBox{
      display: flex;
      flex-direction: column;
        gap: 40px;

    }
    .addressList{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .addressItem{
            display: flex;
            gap: 16px;
            align-items: center;


            .text{
              text-decoration: none;
              text-wrap: nowrap;
            color: var(--color-main-black);
            }
        }
    }
}

  .form{
    box-sizing: border-box;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background-color: var(--color-main-white);
    width: clamp(300px, 40vw, 690px);
    box-shadow: 0 4px 15px 0 rgba(146, 159, 185, 0.2);
    border-radius: 16px;
    border: 1px solid var(--color-system-gray);
    .label{
      display: flex;
      flex-direction: column;
      gap: 8px;
      .text, input, textarea{
        color: var(--color-main-black);
      }
        .text{
            display: flex;
            align-items: center;
            gap: 4px;
        }
      .text::after{
        content: '*';
        color: var(--color-main-red);

      }
      .link{
        color: var(--color-main-blue);
        text-decoration: none;
      }
      input{
        transition: all 0.3s;

        padding: 8px;
        border: 2px solid var(--color-system-gray);
        border-radius: 4px;
        outline: none;
        &:focus, &:active, &:hover:focus, &:hover:active{
          border-color: var(--color-main-blue);
        }
        &:hover{
          border-color: var(--color-system-blue);
        }
        &::placeholder{
          color: var(--color-system-black);
        }
      }
        textarea{
            padding: 8px;
            border: 2px solid var(--color-system-gray);
            border-radius: 4px;
            resize: none;
            height: 184px;
          transition: all 0.3s;

            outline: none;
          &:focus, &:active, &:hover:focus, &:hover:active{
            border-color: var(--color-main-blue);
          }
          &:hover{
            border-color: var(--color-system-blue);
          }
          &::placeholder{
            color: var(--color-system-black);
          }

        }



    }

    .checkbox{
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      &:focus  .checkboxBox, &:active  .checkboxBox, &:hover:focus  .checkboxBox, &:hover:active  .checkboxBox{
        border-color: var(--color-main-blue);
      }
      &:hover  .checkboxBox{
        border-color: var(--color-system-blue);
      }
      input{
        display: none;
      }
      .text{
        color: var(--color-main-black);
      }
      .link{
        color: var(--color-main-blue);
        text-decoration: none;
      }

      .checkboxBox{
        box-sizing: border-box;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        border: 2px solid var(--color-system-gray);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          border-color: var(--color-system-blue);
        }
      }
        .checkboxBox.checked{
            background-color: var(--color-main-blue);
            border: 1px solid var(--color-main-blue);
            background-image: url("/src/assets/checked.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }


      .text::after{
        content: ' '
      }
      .link{
        display: inline;

      }
    }
    .message{
      display: flex;

        flex-direction: column;
        gap: 8px;
      &.error{
        color: var(--color-main-red);
      }
        &.success{
            color: var(--color-main-green);
        }
      div{
        color: inherit;
      }

    }
    .button {
      background-color: var(--color-main-blue);
      color: var(--color-main-white);
      border: none;
      align-self: flex-start;
      padding: 12px 20px;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      &::after {
        transition: all 0.3s;
        content: '';
        width: 16px;
        height: 16px;
        position: relative;


        background-image: url("/src/assets/arrows/arrow_short.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
      }
      &.disabled{
        background-color: var(--color-system-gray);
        cursor: not-allowed;
      }
      &.sending{
        &::after {
          border-radius: 50%;
          background-image: none;
          animation: spin 1s linear infinite;
          border-top: 2px solid var(--color-main-white);
          border-right: 2px solid var(--color-main-white);
          border-bottom: 2px solid var(--color-main-white);
          border-left: 2px solid var(--color-system-white);
        }
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    }
    @media (max-width: 768px){
      width: 100%;

    }
  }

}


.footer{
  position: relative;
  box-sizing: border-box;
  padding: 0 var(--padding-aside) 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;



  background-color: var(--color-main-blue);


  .fish{
    position: absolute;
    top: -100px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url("/src/assets/fish.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

  }

  .content{
    display: flex;
    gap: 48px;
    align-items: center;

    @media(max-width: 768px){
      justify-content: center;

    }
  }
  .menu{
    flex-grow: 2;
    display: flex;
    gap: 48px;
    align-items: center;
    @media(max-width: 768px){
      flex-direction: column;
      align-items: flex-start;

    }
  }
  .menu .link{
    color: var(--color-main-white);
    text-decoration: none;


  }
  &:before{
    content: '';
    position: absolute;
    top: -42px;
    left: 0;
    right: 0;
    width: 100%;
    height: 44px;
    background-image: url("/src/assets/wave_footer.svg");
    background-repeat: repeat-x;
    background-size: 1440px auto;
    background-position: top;
  }
  .copyright{
    color: var(--color-system-white);
  }

}